@font-face {
  font-family: "iconfont";
  src:url("/site/templates/css/fonts/iconfont.eot?fhml6x");
  src:url("/site/templates/css/fonts/iconfont.eot?fhml6x#iefix") format("embedded-opentype"),
    url("/site/templates/css/fonts/iconfont.woff?fhml6x") format("woff"),
    url("/site/templates/css/fonts/iconfont.ttf?fhml6x") format("truetype"),
    url("/site/templates/css/fonts/iconfont.svg?fhml6x#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;

}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.icon-fw, .fa-fw {
  width: 1.28571429em;
  margin-right: 0.21em;
  text-align: center;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0;
  padding-top: 2px;
  text-align: center;
  border:0 !important;
}


.icon-video-10:before {
    content: "\e086";
}
.icon-share-22:before {
    content: "\e0bb";
}
.icon-headphones:before {
    content: "\e198";
}
.icon-microphone-2:before {
    content: "\e199";
}


.icon-cc:before {
    content: "\e900";
}

.icon-chapel-logo-mark:before {
    content: "\e672";
}
.icon-chapel-logo-text:before {
    content: "\e673";
}
.icon-add-user-1:before {
    content: "\e65c";
}
.icon-arrow-left-1:before {
    content: "\e65d";
}
.icon-arrow-right-1:before {
    content: "\e65e";
}
.icon-book-2:before {
    content: "\e600";
}
.icon-book-3:before {
    content: "\e601";
}
.icon-calendar-1:before {
    content: "\e602";
}
.icon-calendar-3:before {
    content: "\e603";
}
.icon-call-2:before {
    content: "\e604";
}
.icon-checkmark-1:before {
    content: "\e605";
}
.icon-checkmark-3:before {
    content: "\e61d";
}
.icon-cloud-download-1:before {
    content: "\e606";
}
.icon-compose-2:before {
    content: "\e674";
}
.icon-compose-3:before {
    content: "\e675";
}
.icon-copyright-1:before {
    content: "\e607";
}
.icon-credit-card-1:before {
    content: "\e608";
}
.icon-document-1:before {
    content: "\e609";
}
.icon-down-2:before {
    content: "\e65f";
}
.icon-down-4:before {
    content: "\e60a";
}
.icon-down-circle-2:before {
    content: "\e60b";
}
.icon-down-circle-3:before {
    content: "\e60c";
}
.icon-down-square-3:before {
    content: "\e619";
}
.icon-download-1:before {
    content: "\e61a";
}
.icon-download-2:before {
    content: "\e61b";
}
.icon-download-document-1:before {
    content: "\e61c";
}
.icon-email-1:before {
    content: "\e660";
}
.icon-error-1:before {
    content: "\e661";
}
.icon-exclamation-point-1:before {
    content: "\e60d";
}
.icon-forward-1:before {
    content: "\e669";
}
.icon-gauge-1:before {
    content: "\e620";
}
.icon-gauge-2:before {
    content: "\e662";
}
.icon-globe-1:before {
    content: "\e60e";
}
.icon-government-1:before {
    content: "\e60f";
}
.icon-grid-1:before {
    content: "\e663";
}
.icon-history-1:before {
    content: "\e610";
}
.icon-imac-1:before {
    content: "\e611";
}
.icon-inbox-6:before {
    content: "\e612";
}
.icon-info-1:before {
    content: "\e613";
}
.icon-info-2:before {
    content: "\e614";
}
.icon-ipad-1:before {
    content: "\e615";
}
.icon-iphone-1:before {
    content: "\e616";
}
.icon-key-2:before {
    content: "\e617";
}
.icon-laptop-1:before {
    content: "\e618";
}
.icon-left-2:before {
    content: "\e623";
}
.icon-left-3:before {
    content: "\e624";
}
.icon-left-4:before {
    content: "\e625";
}
.icon-left-circle-1:before {
    content: "\e626";
}
.icon-left-circle-2:before {
    content: "\e627";
}
.icon-left-square-2:before {
    content: "\e628";
}
.icon-left-square-3:before {
    content: "\e629";
}
.icon-link-4:before {
    content: "\e62a";
}
.icon-loading-1:before {
    content: "\e62b";
}
.icon-loading-2:before {
    content: "\e62c";
}
.icon-location-arrow-1:before {
    content: "\e62d";
}
.icon-location-pin-1:before {
    content: "\e62e";
}
.icon-location-pin-4:before {
    content: "\e62f";
}
.icon-lock-1:before {
    content: "\e630";
}
.icon-login-1:before {
    content: "\e664";
}
.icon-logout-2:before {
    content: "\e665";
}
.icon-macbook-1:before {
    content: "\e666";
}
.icon-mail-2:before {
    content: "\e631";
}
.icon-map-1:before {
    content: "\e632";
}
.icon-maximize-3:before {
    content: "\e633";
}
.icon-maximize-4:before {
    content: "\e634";
}
.icon-menu-3:before {
    content: "\e635";
}
.icon-menu-list-1:before {
    content: "\e676";
}
.icon-minimize-1:before {
    content: "\e67c";
}
.icon-minus-2:before {
    content: "\e667";
}
.icon-minus-3:before {
    content: "\e668";
}
.icon-money-1:before {
    content: "\e636";
}
.icon-move-up-1:before {
    content: "\e66a";
}
.icon-open-book-1:before {
    content: "\e67b";
}
.icon-open-book-3:before {
    content: "\e637";
}
.icon-paperclip-1:before {
    content: "\e638";
}
.icon-pencil-1:before {
    content: "\e677";
}
.icon-pencil-2:before {
    content: "\e678";
}
.icon-pin-1:before {
    content: "\e639";
}
.icon-play-4:before {
    content: "\e63a";
}
.icon-plus-1:before {
    content: "\e63b";
}
.icon-plus-2:before {
    content: "\e63c";
}
.icon-plus-3:before {
    content: "\e679";
}
.icon-print-1:before {
    content: "\e63d";
}
.icon-question-mark-2:before {
    content: "\e63e";
}
.icon-right-2:before {
    content: "\e63f";
}
.icon-right-3:before {
    content: "\e640";
}
.icon-right-4:before {
    content: "\e641";
}
.icon-right-circle-2:before {
    content: "\e642";
}
.icon-right-circle-3:before {
    content: "\e643";
}
.icon-right-circle-12:before {
    content: "\e66b";
}
.icon-right-square-2:before {
    content: "\e66c";
}
.icon-right-square-3:before {
    content: "\e66d";
}
.icon-send-1:before {
    content: "\e644";
}
.icon-settings-1:before {
    content: "\e645";
}
.icon-settings-2:before {
    content: "\e646";
}
.icon-share-2:before {
    content: "\e647";
}
.icon-speaker-1:before {
    content: "\e648";
}
.icon-star-2:before {
    content: "\e67a";
}
.icon-stop-1:before {
    content: "\e61e";
}
.icon-stop-2:before {
    content: "\e61f";
}
.icon-suitcase-1:before {
    content: "\e649";
}
.icon-tag-1:before {
    content: "\e64a";
}
.icon-time-1:before {
    content: "\e64b";
}
.icon-time-2:before {
    content: "\e64c";
}
.icon-turn-page-up-1:before {
    content: "\e64d";
}
.icon-tv-1:before {
    content: "\e64e";
}
.icon-up-4:before {
    content: "\e64f";
}
.icon-up-circle-2:before {
    content: "\e66e";
}
.icon-up-circle-3:before {
    content: "\e66f";
}
.icon-up-square-2:before {
    content: "\e670";
}
.icon-up-square-3:before {
    content: "\e671";
}
.icon-upload-1:before {
    content: "\e650";
}
.icon-user-1:before {
    content: "\e651";
}
.icon-user-2:before {
    content: "\e652";
}
.icon-video-camera-1:before {
    content: "\e653";
}
.icon-wifi-rounded-1:before {
    content: "\e654";
}
.icon-wifi-rounded-3:before {
    content: "\e655";
}
.icon-work-1:before {
    content: "\e621";
}
.icon-wrench-1:before {
    content: "\e656";
}
.icon-wrench-2:before {
    content: "\e622";
}
.icon-writing-comment-2:before {
    content: "\e657";
}
.icon-x-1:before {
    content: "\e658";
}
.icon-x-2:before {
    content: "\e659";
}
.icon-x-3:before {
    content: "\e65a";
}
.icon-zoom-2:before {
    content: "\e65b";
}
.icon-heart:before {
    content: "\f004";
}
.icon-close:before {
    content: "\f00d";
}
.icon-check-circle:before {
    content: "\f058";
}
.icon-expand:before {
    content: "\f065";
}
.icon-compress:before {
    content: "\f066";
}
.icon-twitter-square:before {
    content: "\f081";
}
.icon-facebook-square:before {
    content: "\f082";
}
.icon-external-link:before {
    content: "\f08e";
}
.icon-square-o:before {
    content: "\f096";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-credit-card:before {
    content: "\f09d";
}
.icon-globe:before {
    content: "\f0ac";
}
.icon-wrench:before {
    content: "\f0ad";
}
.icon-group:before {
    content: "\f0c0";
}
.icon-pinterest-square:before {
    content: "\f0d3";
}
.icon-google-plus-square:before {
    content: "\f0d4";
}
.icon-google-plus:before {
    content: "\f0d5";
}
.icon-dashboard:before {
    content: "\f0e4";
}
.icon-circle-o:before {
    content: "\f10c";
}
.icon-quote-left:before {
    content: "\f10d";
}
.icon-quote-right:before {
    content: "\f10e";
}
.icon-spinner:before {
    content: "\f110";
}
.icon-circle:before {
    content: "\f111";
}
.icon-ticket:before {
    content: "\f145";
}
.icon-check-square:before {
    content: "\f14a";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-apple:before {
    content: "\f179";
}
.icon-windows:before {
    content: "\f17a";
}
.icon-android:before {
    content: "\f17b";
}
.icon-archive:before {
    content: "\f187";
}
.icon-dot-circle-o:before {
    content: "\f192";
}
.icon-vimeo-square2:before {
    content: "\f194";
}
.icon-spotify:before {
    content: "\f1bc";
}
.icon-life-bouy:before {
    content: "\f1cd";
}
.icon-circle-thin:before {
    content: "\f1db";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-discover:before {
    content: "\f1f2";
}
.icon-cc-amex:before {
    content: "\f1f3";
}
.icon-toggle-off:before {
    content: "\f204";
}
.icon-toggle-on:before {
    content: "\f205";
}
.icon-youtube-square:before {
    content: "\f166";
}
.icon-youtube:before {
    content: "\f167";
}
.icon-vimeo-square:before {
    content: "\f195";
}
