
/* No gutters help
===============================================*/

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 6px;
  padding-left: 0;
}


.row.no-gutters-none {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutters-none > [class^="col-"],
.row.no-gutters-none > [class*=" col-"] {
  padding-right: 0px;
  padding-left: 0;
}

/* Padding
===============================================*/

.no-mg {
    margin: 0 !important;
}
.no-mg-t {
    margin-top: 0 !important;
}
.no-mg-r {
    margin-right: 0 !important;
}
.no-mg-b {
    margin-bottom: 0 !important;
}
.no-mg-l {
    margin-left: 0 !important;
}
@media (max-width: 767px) {
    .no-mg-xso {
    margin: 0 !important;
}
}@media (max-width: 767px) {
    .no-mg-t-xso {
    margin-top: 0 !important;
}
}@media (max-width: 767px) {
    .no-mg-r-xso {
    margin-right: 0 !important;
}
}@media (max-width: 767px) {
    .no-mg-b-xso {
    margin-top: 0 !important;
}
}@media (max-width: 767px) {
    .no-mg-l-xso {
    margin-left: 0 !important;
}
}.no-pd {
    padding: 0 !important;
}
.no-pd-t {
    padding-top: 0 !important;
}
.no-pd-r {
    padding-right: 0 !important;
}
.no-pd-b {
    padding-bottom: 0 !important;
}
.no-pd-l {
    padding-left: 0 !important;
}
@media (max-width: 767px) {
    .no-pd-xso {
    padding: 0 !important;
}
}@media (max-width: 767px) {
    .no-pd-t-xso {
    padding-top: 0 !important;
}
}@media (max-width: 767px) {
    .no-pd-r-xso {
    padding-right: 0 !important;
}
}@media (max-width: 767px) {
    .no-pd-b-xso {
    padding-top: 0 !important;
}
}@media (max-width: 767px) {
    .no-pd-l-xso {
    padding-left: 0 !important;
}
}.mg-lg {
    margin: 60px;
}
.pd-lg {
    padding: 60px;
}
.mg-t-lg {
    margin-top: 60px;
}
.mg-r-lg {
    margin-right: 60px;
}
.mg-b-lg {
    margin-bottom: 60px;
}
.mg-l-lg {
    margin-left: 60px;
}
.pd-t-lg {
    padding-top: 60px;
}
.pd-r-lg {
    padding-right: 60px;
}
.pd-b-lg {
    padding-bottom: 60px;
}
.pd-l-lg {
    padding-left: 60px;
}
@media (max-width: 767px) {
    .mg-t-xso-lg {
    margin-top: 40px;
}
}@media (max-width: 767px) {
    .mg-r-xso-lg {
    margin-right: 40px;
}
}@media (max-width: 767px) {
    .mg-b-xso-lg {
    margin-bottom: 40px;
}
}@media (max-width: 767px) {
    .mg-l-xso-lg {
    margin-left: 40px;
}
}@media (max-width: 767px) {
    .pd-t-xso-lg {
    padding-top: 40px;
}
}@media (max-width: 767px) {
    .pd-r-xso-lg {
    padding-right: 40px;
}
}@media (max-width: 767px) {
    .pd-b-xso-lg {
    padding-bottom: 40px;
}
}@media (max-width: 767px) {
    .pd-l-xso-lg {
    padding-left: 40px;
}
}.mg-md {
    margin: 30px;
}
.pd-md {
    padding: 30px;
}
.mg-t-md {
    margin-top: 30px;
}
.mg-r-md {
    margin-right: 30px;
}
.mg-b-md {
    margin-bottom: 30px;
}
.mg-l-md {
    margin-left: 30px;
}
.pd-t-md {
    padding-top: 30px;
}
.pd-r-md {
    padding-right: 30px;
}
.pd-b-md {
    padding-bottom: 30px;
}
.pd-l-md {
    padding-left: 30px;
}
@media (max-width: 767px) {
    .mg-t-xso-md {
    margin-top: 30px;
}
}@media (max-width: 767px) {
    .mg-r-xso-md {
    margin-right: 30px;
}
}@media (max-width: 767px) {
    .mg-b-xso-md {
    margin-bottom: 30px;
}
}@media (max-width: 767px) {
    .mg-l-xso-md {
    margin-left: 30px;
}
}@media (max-width: 767px) {
    .pd-t-xso-md {
    padding-top: 30px;
}
}@media (max-width: 767px) {
    .pd-r-xso-md {
    padding-right: 30px;
}
}@media (max-width: 767px) {
    .pd-b-xso-md {
    padding-bottom: 30px;
}
}@media (max-width: 767px) {
    .pd-l-xso-md {
    padding-left: 30px;
}
}.mg {
    margin: 20px;
}
.pd {
    padding: 20px;
}
.mg-t {
    margin-top: 20px;
}
.mg-r {
    margin-right: 20px;
}
.mg-b {
    margin-bottom: 20px;
}
.mg-l {
    margin-left: 20px;
}
.pd-t {
    padding-top: 20px;
}
.pd-r {
    padding-right: 20px;
}
.pd-b {
    padding-bottom: 20px;
}
.pd-l {
    padding-left: 20px;
}
@media (max-width: 767px) {
    .mg-t-xso {
    margin-top: 20px;
}
}@media (max-width: 767px) {
    .mg-r-xso {
    margin-right: 20px;
}
}@media (max-width: 767px) {
    .mg-b-xso {
    margin-bottom: 20px;
}
}@media (max-width: 767px) {
    .mg-l-xso {
    margin-left: 20px;
}
}@media (max-width: 767px) {
    .pd-t-xso {
    padding-top: 20px;
}
}@media (max-width: 767px) {
    .pd-r-xso {
    padding-right: 20px;
}
}@media (max-width: 767px) {
    .pd-b-xso {
    padding-bottom: 20px;
}
}@media (max-width: 767px) {
    .pd-l-xso {
    padding-left: 20px;
}
}.mg-sm {
    margin: 10px;
}
.pd-sm {
    padding: 10px;
}
.mg-t-sm {
    margin-top: 10px;
}
.mg-r-sm {
    margin-right: 10px;
}
.mg-b-sm {
    margin-bottom: 10px;
}
.mg-l-sm {
    margin-left: 10px;
}
.pd-t-sm {
    padding-top: 10px;
}
.pd-r-sm {
    padding-right: 10px;
}
.pd-b-sm {
    padding-bottom: 10px;
}
.pd-l-sm {
    padding-left: 10px;
}
@media (max-width: 767px) {
    .mg-t-xso-sm {
    margin-top: 10px;
}
}@media (max-width: 767px) {
    .mg-r-xso-sm {
    margin-right: 10px;
}
}@media (max-width: 767px) {
    .mg-b-xso-sm {
    margin-bottom: 10px;
}
}@media (max-width: 767px) {
    .mg-l-xso-sm {
    margin-left: 10px;
}
}@media (max-width: 767px) {
    .pd-t-xso-sm {
    padding-top: 10px;
}
}@media (max-width: 767px) {
    .pd-r-xso-sm {
    padding-right: 10px;
}
}@media (max-width: 767px) {
    .pd-b-xso-sm {
    padding-bottom: 10px;
}
}@media (max-width: 767px) {
    .pd-l-xso-sm {
    padding-left: 10px;
}
}.mg-xs {
    margin: 5px;
}
.pd-xs {
    padding: 5px;
}
.mg-t-xs {
    margin-top: 5px;
}
.mg-r-xs {
    margin-right: 5px;
}
.mg-b-xs {
    margin-bottom: 5px;
}
.mg-l-xs {
    margin-left: 5px;
}
.pd-t-xs {
    padding-top: 5px;
}
.pd-r-xs {
    padding-right: 5px;
}
.pd-b-xs {
    padding-bottom: 5px;
}
.pd-l-xs {
    padding-left: 5px;
}
@media (max-width: 767px) {
    .mg-t-xso-xs {
    margin-top: 5px;
}
}@media (max-width: 767px) {
    .mg-r-xso-xs {
    margin-right: 5px;
}
}@media (max-width: 767px) {
    .mg-b-xso-xs {
    margin-bottom: 5px;
}
}@media (max-width: 767px) {
    .mg-l-xso-xs {
    margin-left: 5px;
}
}@media (max-width: 767px) {
    .pd-t-xso-xs {
    padding-top: 5px;
}
}@media (max-width: 767px) {
    .pd-r-xso-xs {
    padding-right: 5px;
}
}@media (max-width: 767px) {
    .pd-b-xso-xs {
    padding-bottom: 5px;
}
}@media (max-width: 767px) {
    .pd-l-xso-xs {
    padding-left: 5px;
}
}



.mg-t-sm2 {
    margin-top: 20px;
}
.mg-r-sm2 {
    margin-right: 20px;
}
.mg-b-sm2 {
    margin-bottom: 20px;
}
.mg-l-sm2 {
    margin-left: 20px;
}


.mg-t-md2 {
    margin-top: 40px;
}
.mg-r-md2 {
    margin-right: 40px;
}
.mg-b-md2 {
    margin-bottom: 40px;
}
.mg-l-md2 {
    margin-left: 40px;
}


.mg-t-none {
    margin-top: 0px;
}

.mg-b-none {
    margin-bottom: 0px;
}
.mg-p-none {
   padding-top: 0px;
}

.mg-p-none {
    padding-bottom: 0px;
}
.mg-r-xxs
{
  margin-right: 3px;
}

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
/* clear first in row in ie 8 or lower */
.multi-columns-row .first-in-row {
  clear: left;
}

/* clear the first in row for any block that has the class "multi-columns-row" */
.multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: left; }
.multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: left; }
.multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: left; }
.multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: left; }
.multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: left; }

@media (min-width: 768px) {
  /* reset previous grid */
  .multi-columns-row .col-xs-6:nth-child(2n + 3) { clear: none; }
  .multi-columns-row .col-xs-4:nth-child(3n + 4) { clear: none; }
  .multi-columns-row .col-xs-3:nth-child(4n + 5) { clear: none; }
  .multi-columns-row .col-xs-2:nth-child(6n + 7) { clear: none; }
  .multi-columns-row .col-xs-1:nth-child(12n + 13) { clear: none; }

  /* clear first in row for small columns */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: left; }
  .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: left; }
  .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: left; }
  .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: left; }
  .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 992px) {
  /* reset previous grid */
  .multi-columns-row .col-sm-6:nth-child(2n + 3) { clear: none; }
  .multi-columns-row .col-sm-4:nth-child(3n + 4) { clear: none; }
  .multi-columns-row .col-sm-3:nth-child(4n + 5) { clear: none; }
  .multi-columns-row .col-sm-2:nth-child(6n + 7) { clear: none; }
  .multi-columns-row .col-sm-1:nth-child(12n + 13) { clear: none; }

  /* clear first in row for medium columns */
  .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: left; }
  .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: left; }
  .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: left; }
  .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: left; }
  .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: left; }
}
@media (min-width: 1200px) {
  /* reset previous grid */
  .multi-columns-row .col-md-6:nth-child(2n + 3) { clear: none; }
  .multi-columns-row .col-md-4:nth-child(3n + 4) { clear: none; }
  .multi-columns-row .col-md-3:nth-child(4n + 5) { clear: none; }
  .multi-columns-row .col-md-2:nth-child(6n + 7) { clear: none; }
  .multi-columns-row .col-md-1:nth-child(12n + 13) { clear: none; }

  /* clear first in row for large columns */
  .multi-columns-row .col-lg-6:nth-child(2n + 3) { clear: left; }
  .multi-columns-row .col-lg-4:nth-child(3n + 4) { clear: left; }
  .multi-columns-row .col-lg-3:nth-child(4n + 5) { clear: left; }
  .multi-columns-row .col-lg-2:nth-child(6n + 7) { clear: left; }
  .multi-columns-row .col-lg-1:nth-child(12n + 13) { clear: left; }
}

.multi-columns-row .col-xs-12 {
        margin-bottom: 30px;
      }




/* PROCESS WIRE STUFF */

#editpage {
  position: fixed;
  top: 0;
  left: 0;
  padding: 9px 12px;
  background: #db1174;
  color: #fff;
  display: block;
  font-weight: bold;
  z-index: 9999999;
}
  #editpage:hover {
    background: #ffffcc;
    color: #000;
    text-decoration: none;
  }


.WireFatalError {
  background: #a30000;
  color: #fff;
  padding: 1em;
  position: relative;
  z-index: 9999;
}